# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
.DS_Store
# Generated platform build outputs
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Python
__pycache__/
*.pyc
